*{
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: Pretendard;
    font-size: 24px;
    color: #111111;
    overflow-x: hidden;
    /* 아래로 마우스 커서  */
    cursor: url(../images/cursor.png) 0 0, auto;
}
@font-face {
    font-family: 'OkDandan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2508-2@1.0/OkDanDan-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 아래도 마우스 커서  */
a:hover, button:hover, .hover-target:hover {
  cursor: url(../images/cursor_hover.png) 0 0, pointer;
}

#wrap_wrap{
    min-width:1400px;
    overflow: hidden;
}

/* gnb 시작 ==================*/
#gnb_bg{
    background-color: #FAFAFA;
    height: 70px;
    width: 1320px;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    position: fixed;
    top: 35px;
    left: 50%;
    margin-left: -660px;
    z-index: 1000;
}
.gnb_wrap{
    display: flex;
    justify-content: space-between;
    font-family: okdandan;
    font-size: 32px;
}
.logo a img{
    height: 28px;
    width: auto;
    margin-left: 50px;
    padding: 9.5px 50px; 
    margin-top: 5px;
}
.gnb{
    display: flex;
    margin-right: 50px;
}
.gnb> li> a{
    display: block;
    padding: 15.1px 50px; 
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.gnb > li > a::before{
    content: '';
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%; 

    opacity: 0;

    transition: 
    transform 0.45s cubic-bezier(.17,.67,.32,1.27),
    opacity 0.3s;

    z-index: -1;
}

/* hover =========== */
.gnb> li:nth-child(1) a:hover::before{
    background-image: url(../images/gnb_hover1.png);
    background-size: 19%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
}

.gnb> li:nth-child(2) a:hover::before{
    background-image: url(../images/gnb_hover2.png);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
    background-size: 26%;
}

.gnb> li:nth-child(3) a:hover::before{
    background-image: url(../images/gnb_hover3.png);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
    background-size: 26%;
}

.gnb> li:nth-child(4) a:hover::before{
    background-image: url(../images/gnb_hover4.png);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
    background-size: 26%;
}
.gnb> li:nth-child(1) a:hover{
    color: #066188
}
.gnb> li:nth-child(2) a:hover{
    color: #87a804
}
.gnb> li:nth-child(3) a:hover{
    color: #4e1f02
}
.gnb> li:nth-child(4) a:hover{
    color: #dd0181
}


/* 메인 베너 시작 ==============*/
.main_bg{
    width: 100%;
    height: 446px;
    background-image: url(../images/sub4_main.png);
    background-repeat: no-repeat;
    background-position: center;
}
.main_wrap{
    margin: 0 auto;
    width: 1320px;
}
.main_banner_text{
    font-family: okdandan;
    color: #f6f6f6;
    text-align: center;
    padding-top: 180px;
}
.main_banner_text h1{
    font-size: 80px;
}
.main_banner_text p{
    font-size: 32px;
}


/* 본문 제목과 내용=============== */
.sub4_bg{
    position: relative;
    background-color: #F8F8F6;
    
}
.sub4_bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url(../images/bg_pc.gif);

    opacity: 0.6;
    pointer-events: none;

    z-index: 1;

}
.sub4_wrap{
    margin: 0 auto;
    width: 1320px;
    height: 2870px;

    position: relative;
    z-index: 2;
}
.sub4_title{
    padding-top: 100px;
}
.sub4_title h1{
    font-family: okdandan;
    font-size: 54px;
    color: #EC008B;
    margin-bottom: 40px;
}
.sub4_title p{
    font-size: 24px;
    line-height: 36px;
}
.sub4_text_right{
    font-size: 16px;
    line-height: 36px;
    text-align: right;

    margin-top: 100px;
}

/* 아래로 이미지들 =========== */
.sub4_img_wrap{
    margin-top: 230px;

    position: relative;
}

.sub4_img1{
    position: absolute;
    top: 0px;
    left: 0px;
}
.sub4_img2{
    position: absolute;
    top: 300px;
    left: 300px;
}
.sub4_img3{
    position: absolute;
    top: 112px;
    left: 592px;
}
.sub4_img4{
    position: absolute;
    top: 0px;
    right: 300px;
}
.sub4_img5{
    position: absolute;
    top: 150px;
    right: 0px;
}
.sub4_img6{
    position: absolute;
    top: 658px;
    left: 0px;
}
.sub4_img7{
    position: absolute;
    top: 437px;
    left: 491px;
}
.sub4_img8{
    position: absolute;
    top: 587px;
    left: 641px;
}
.sub4_img9{
    position: absolute;
    top: 718px;
    right: 0px;
}
.sub4_img10{
    position: absolute;
    top: 958px;
    left: 300px;
}
.sub4_img11{
    position: absolute;
    top: 1110px;
    right: 292px;
}
.sub4_img12{
    position: absolute;
    top: 1292px;
    left: 275px;
}
.sub4_img13{
    position: absolute;
    top: 1592px;
    left: 575px;
}
.sub4_img14{
    position: absolute;
    top: 1638px;
    right: 0px;
}
.sub4_img15{
    position: absolute;
    top: 1788px;
    left: 0px;
}


/* footer ============================== */
.footer_img{
    position: relative;
}
.footer_img img{
    display: block;
    margin: 0 auto;
}
.footer_img_text{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer_img_text p{
    text-align: center;
    font-family: okdandan;
    color: #F6F6F6;
    font-size: 40px;
}

.footer_bg{
    height: 272px;
    background-image: url(../images/footer_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.footer_wrap{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
.footer_logo img{
    width: 102px;
    height: 65px;
}
.footer_sns{
    display: flex;
    justify-content: center;
}
.footer_sns li a{
    display: block;
    margin: 0 9px;
}
.footer_sns li a:hover img{
    filter: brightness(0.9);
}